.routing {
    display: inline-block;
    margin-bottom: 30px;
    cursor: pointer;
    pre {
        font-family: "RF Rufo";
        font-size: 20px;
    }
    span {
        color: #02e502;
    }
}
