@import "../../mixins/button.scss";
@import "../../mixins/headline.scss";
@import "../../mixins/subTitle.scss";
.contacts__wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.contacts__block {
    padding-top: 30px;
    margin-left: 193px;
    margin-bottom: 110px;
}

.headline {
    @include headlineStyle("Контакты");
}

.contacts {
    position: relative;
    display: flex;
    width: 100%;
    height: 510px;
    &::after {
        content: "";
        position: absolute;
        top: -465px;
        right: -300px;
        width: 1300px;
        height: 1175px;
        background-image: url("../../images/icons/iconLine1.svg");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -2;
    }
    .adress {
        position: relative;
        background-color: #1e1d1d;
        width: 450px;
        height: 100%;
        padding-left: 112px;
        padding-top: 31px;
        h3 {
            font-size: 62px;
            font-weight: 400;
            margin-bottom: 40px;
        }
        .ourInfo {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 8px;
        }
        .mainInfo {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 30px;
        }
        .special {
            margin-bottom: 102px;
        }
        button {
            @include buttonStyle(197, 52);
            font-size: 24px;
            color: white;
            border: 1px solid white;
            &::after {
                background-color: #fff;
            }
        }
        .subTitle {
            @include subTitle;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 130px;
            left: -261px;
            width: 700px;
            height: 132px;
            background-image: url("../../images/icons/iconDrone_flyingTop.svg");
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .map {
        border: none;
        width: calc(100% - 450px);
        height: 100%;
    }
}
