* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    /* outline: 1px solid white; */
}

li {
    list-style-type: none;
}

body {
    font-family: "RF Rufo";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #181818;
    color: #ffffff;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.wrapper {
    margin: 0 auto;
    max-width: 1150px;
}

@media (max-width: 768px) {
    .wrapper {
        max-width: 682px;
    }
}
